
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>RGB to 0x</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<style>
		body{
			text-align: center;
		}
	</style>
</head>
<body>
	<embed wmode="transparent" src="http://7xnhtt.com1.z0.glb.clouddn.com/rgb2Ox.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="550" height="400">
</body>
</html>
